body {
  background-color: #ffffff;
}

#content, #title{
  width: 800px;
  margin: 10px;
  text-align: center;
  background-color: rgb(25, 102, 31);
  box-shadow: 0px 0px 200px 10px #747776;
  -moz-box-shadow: 5px 5px 10px #747776;
  -webkit-box-shadow: 5px 5px 10px #747776;
  box-shadow: 5px 5px 10px #747776;
  border-radius: 15px;
  border: thick ridge chocolate;
}

#content {
  height: 400px;
}

input, select{
  -moz-box-shadow: inset -3px -3px 10px #eee;
  -webkit-box-shadow: inset -3px -3px 10px #eee;
  box-shadow: inset -3px -3px 10px #eee;
  border-radius: 15px;
  width: 200px;
  -ms-box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box; 
box-sizing:content-box;
}

button {
  -moz-box-shadow: inset -3px -3px 10px #eee;
  -webkit-box-shadow: inset -3px -3px 10px #eee;
  box-shadow: inset -3px -3px 10px #eee;
  border-radius: 15px;
}

h1 {
  text-shadow: #000000 -1px -1px 0, -25px 5px 5px rgba(206,89,55,0);
  color: #ffffff;
  border-radius: 15px;
}

table{margin-top: 20px;}